
<header>
    <style type="text/css">
        .list {
            padding-left: 40%;
        }
        .forms {
            padding-left: 32%;
        }

    </style>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Rock-Paper-Scissors Game</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <h3 class="list">Play With: </h3>
    <ul id="contacts" class="list"></ul>
    @section scripts{
        <script type="text/javascript">
            $(function () {
                $.getJSON('/api/championship/result', function (contactsJsonPayload) {
                    $(contactsJsonPayload).each(function (i, item) {
                        $('#contacts').append('<li>' + item.Name + '</li>');
                    });
                });
            });
            $('#saveContact').click(function () {
                $.post("api/championship/top",
                      $("#saveContactForm").serialize(),
                      function (value) {
                          $('#contacts').append('<li>' + value.Name + '</li>');
                      },
                      "json"
                );
            });
            /*$.ajax({
                url: '/home/check',
                type: 'POST',
                data: {
                    Name: "Alex",
                    Strategy:"P"
                    },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert(data.success);
                },
                error: function () {
                    alert("error");
                }
            });*/

        </script>


    }
    <form id="saveContactForm" method="post" class="forms">
        <h3>Input the Player Information</h3>
        <p>
            <label for="Name">Player Name:</label>
            <input type="text" name="Name" />
        </p>
        <p>
            <label for="Strategy">Strategy:</label>
            <input type="text" name="Strategy" />
        </p>
        <input type="button" id="saveContact" value="Play" />
        <input type="button" id="EraseContact" value="Erase Data" />
        <p>
            <!--<a href="~/Views/Home/View1">Upload your own Championship here</a>-->
            <label for="FileInput">Upload your own Chanpionship here:</label>
            <input id="FileInput" type="file" size="72" name="File1" runat="server" accept=".txt">
            <input type="button" id="upload" value="Upload" />
            <!--<asp:button id="cmdUpload" runat="server" text="Upload" width="100px"></asp:button>
            <asp:label id="lblInfo" runat="server" width="608px" height="72px" font-names="Verdana" font-size="Medium" font-bold="True"></asp:label>-->
        </p>
    </form>
</div>
<footer>
    <p class="site-title" style="font-size: small; color: cadetblue;">
        <label style="text-align: center">Rock-Paper-Scissors Game - Developed by Alexander Sánchez Gómez</label>
        <label style="text-align: center">Some Information About Myself:</label>
        <label style="text-align: center">"I'm a junior web developer, i like to imprube my own knowledge every day.</label>
        <label style="text-align: center">I'm a kind, responsible, honest and autodidactic person, I'm from Puntarenas but </label>
        <label style="text-align: center">currently i'm living in Los Yoses, San José"</label>
        <a href="http://www.google.com" target="_blank">Repo Link</a>
    </p>
</footer>

